<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check pages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <link rel="stylesheet" href="/static/css/style.css" >
</head>
<body>
<div class="w3-container">

    <img class="w3-animate-zoom image-banner" src="/static/images/robot-winning.jpg">
    <h3>Success</h3>
    <h4>Time to sip some /ˈkɒfi/ (☕)</h4>
    <a href="/" class="w3-button">Head Back Home</a>
</div>
<footer>
    <p>Made With 🦾 </p>
</footer>
</body>
</html>