<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spidr Systems - Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Web Spidr ">
    <meta name="description" content="Track changes on any webpage.">
    <meta name="keywords" content="Spidr Sytems">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="language" content="English">
    <meta name="author" content="Spidr Systems">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <link rel="stylesheet" href="/static/css/style.css" >
</head>
<body>
<div class="w3-container">

    <img class="w3-animate-zoom image-banner" src="/static/images/robot-winning.jpg">
    <h3>Success</h3>
    <h4>Time to sip some /ˈkɒfi/ (☕)</h4>
    <a href="/" class="w3-button">Head Back Home</a>
</div>
<footer>
    <p>Made With 🦾 </p>
</footer>
</body>
</html>